div(:class="classes.scheduleCalendar")
  .panel(:class="classes.courseTypePanel")
    .panel-body
      div(:class="month") {{ activeDate | formatDate("MM")}}月
      div
        slot

  .panel
    .panel-body(ref="calendar")
      calendar(v-if="mode",
      v-touch="{methods: true}",
      :calendar="calendar",
      :activeIndex="activeIndex",
      :translateX="translateX",
      @toggleActiveDate="toggleActiveDate",
      @transitionend.native.self="onTransitionEnd")

      calendar(v-else,
      :calendar="calendar",
      :activeIndex="activeIndex",
      :translateX="translateX",
      @toggleActiveDate="toggleActiveDate")

  div(:class="classes.content",
  :style="contentStyle",
  ref="schedules",
  @scroll="onScroll")

    ol.list-unstyled(v-if="Object.keys(activeItems).length")
      schedule-items(v-if="subscribeType == 1",
      v-for="(scheduleItems, date, index) of activeItems",
      ref="date",
      :key="keyPrefix + date + index",
      :class="classes.scheduleItems",
      :date="date",
      :last="index === Object.keys(activeItems).length - 1",
      :itemsHeight="itemsHeight",
      :scheduleItems="scheduleItems")

      coach-item(v-if="subscribeType == 2",
      v-for="coachItem of activeItems[activeDate]",
      ref="date",
      :key="keyPrefix + coachItem.coachId",
      :coachItem="coachItem",
      :activeCoachid="activeCoachId",
      @toggleActiveCoach="toggleActiveCoach")

    no-item(v-else, text="本周没有安排任何课程")
