modal-item(:class="classes.cardsModal",
:disabled="disabled",
:footer="true",
:full="true",
:close="closeModal",
:confirm="confirmModal",
confirmText="确认添加",
:transition="true")
  hi-tab(slot="header",
  :items="cardTypes",
  :defaultIndex="defaultIndex",
  valueKey="cardTypeId",
  textKey="cardTypeName",
  @toggleTab="toggleTab")
  div(:class="classes.cards", :style="{height}")
    template(v-if="currOffSalesCards.length + currCards.length")
      card-name(v-if="currOffSalesCards.length",
      v-for="card of currOffSalesCards",
      :card="card",
      :selectable="true",
      :selected="selectedCards.includes(card.cardId)",
      :soldNumState="1",
      :key="card.cardId",
      @click.native="selectCard(card.cardId)")
      card-name(v-if="currCards.length",
      v-for="card of currCards",
      :card="card",
      :soldNumState="1",
      :key="card.cardId",
      :class="classes.onSales")
    hi-empty(v-else, text="还没有此类会员卡，快去创建吧！")
