div(:class="classes.content")
  div(:class="classes.edit", v-if="isStaffS && !editing", @click="editPanel") 编辑本页
  div(:class="classes.tips", v-if="isStaffS && editing")
    span 背景图格式为.jpg/.jpeg/.png
  template
    div(v-if="resultImg1", :class="[classes.pic, classes.ani1]", :style="{backgroundImage: `url(${$util.imgPath(resultImg1)})`}")
    div(v-else, :class="[classes.pic, classes.ani1, classes.pic1]")
    div(v-if="resultImg2", :class="[classes.pic, classes.ani2]", :style="{backgroundImage: `url(${$util.imgPath(resultImg2)})`}")
    div(v-else, :class="[classes.pic, classes.ani2, classes.pic2]")
  div(:class="classes.slogan")
    div(:class="[classes.sloganHeader, editing ? classes['editing'] : '']")
      input(:class="classes['slogan-title']", :style="{color: (editing ? editingColor : color) ? 'white' : 'black'}", :value="sloganTitle", readonly, v-if="!editing")
      input(:class="classes['slogan-title']", :style="{color: (editing ? editingColor : color) ? 'white' : 'black'}",
      title="请输入标题",
      maxlength="12",
      v-model="editingSloganTitle",
      ref="sloganTitle",
      @focus="togglePanel(false)",
      @blur="togglePanel(true)", v-else)
      div(:class="classes.line")
    .center-block(:class="[classes['slogan-body'], editing ? classes['editing'] : '']")
      textarea(:class="classes['slogan-text']", :style="{color: (editing ? editingColor : color) ? 'white' : 'black'}", readonly, v-if="!editing", :value="sloganContent")
      textarea(:class="[classes['slogan-text'], classes['slogan-title']]", :style="{color: (editing ? editingColor : color) ? 'white' : 'black'}",
      title="请输入内容",
      v-model="editingSloganContent",
      ref="sloganContent",
      @focus="togglePanel(false)",
      @blur="togglePanel(true)",
      maxlength="80",
      rows="3",
      :placeholder="`描述一下贵馆的瑜伽理念等，最多40个汉字`",
      v-else)

  div(:class="classes.mask", v-if="editing ? editingMask : mask")

  div(:class="classes.memberMenu")
    each val, index in [{pull:'left', icon:'icon-book',menu:'预订课程'}, {pull:'right', icon:'icon-person',menu:'个人中心'}]
      div(:class="classes.outsideCircle", class="pull-" + val.pull + " animated", ref="circle" + index)
        div(:class="classes.insideCircle", @click="goto("+ index + ")")
          span(:class="classes.menuIcon", class="iconfont " + val.icon)
          span(:class="classes.menuText") #{val.menu}
        div(:class="classes.insideCircleReplace")

  edit-panel(v-if="isStaffS && editing && show",
  :close="close",
  :confirm="confirm",
  :editingColor="editingColor",
  :editingMask="editingMask",
  @togglePanel="togglePanel",
  @toggleImg="toggleImg",
  @reInitImg="reInitImg",
  @toggleColor="toggleColor",
  @toggleMask="toggleMask")
